.card {
    border: none;
    background-color: ghostwhite;
}



.anchorColor{
    color: #7c83bc;
    cursor: pointer;
}

.contattiBody {
    background-color: ghostwhite;
}

.contattiIcon {
    width: 3em;
    margin: 0.5em 1em;
    cursor: pointer;

}
