.userpageBody {
    background-color: ghostwhite;
}

.card {
    border: none;
    background-color: ghostwhite;
}

.changeUser {
    width: 1.5em;
}
.myTooltip {
    position: absolute;
    border-radius: 20px;
    display: none;
    top: -1em;
}
.buttonTooltip:hover .myTooltip{
    display: block;
    text-decoration: none;
}

#eliminaTooltip {
    top: 3.8em;
}

@media screen and (min-width: 576px){
    .userInfoBody {
        width: 90%;
        margin: auto;
    }
    .userFormBody {
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 1200px){
    .userFormBody {
        width: 70%;
        margin: auto;
    }
}
