#section1{
    width: 100%;
    height: 80%;
    background-image: url(/assets/immagini/repertorio/IMG-20221214-WA0010.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;

}

#section2{
    width: 100%;
    height: 80%;
    background-image: url(/assets/immagini/repertorio/b00000072_resized_20230916_051554974.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center ;

}

.homeCardTitle{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;

}
