<div class="pepeInfo">
    <div class="container-fluid p-4 pepeContainer">
        <h3 class="pb-2">PepeFactory è una oreficeria artigianale che da venti anni propone gioielli unici, fatti a mano e completamente personalizzabili</h3>
        <h5><a [routerLink]="'/prodotti'">Scopri</a> </h5>
        <h5 class="mb-0"><a [routerLink]="'/contatti'">Contattaci</a></h5>
    </div>
</div>
<div id="section1">
    <h1 class="homeCardTitle">I nostri Anelli</h1>
</div>
<div id="section2">
    <h1 class="homeCardTitle">I nostri orecchini</h1>
</div>
<div id="section3">
    <h1 class="homeCardTitle">I nostri Pendenti</h1>
</div>

<div *ngIf="showToast">
    <ngb-toast class="registrazioneToast top-0 end-0" [autohide]="true">
        <div class="toast-header">
            <h6 class="me-auto">{{ toastMessage }}</h6>
            <button
                type="button"
                class="btn-close"
                (click)="chiudiToast()"
            ></button>
        </div>
    </ngb-toast>
</div>
