#section1{
    width: 100vw;
    height: 70%;
    background-image: url(/assets/i_fossi_di_livorno_4121342459-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;

}
