<div class="container-fluid">
    <div class="d-flex row footer align-items-center py-5">
        <div class="d-flex col-12 col-md-6 ps-5 ps-md-1  flex-column align-items-md-center">
            <address>
                <h5>Pepe Factory di Barbara Pepe</h5>
                <p>Scali Adriano Novi Lena, 7</p>
                <p>57126 Livorno LI</p>
                <p>P. Iva: </p>
                <p>Telefono: 0586 834446</p>
                <p>Email: samigiachi@gmail.com</p>
                <div class="d-flex w-100">
                    <a href="https://www.facebook.com/pepefactory/" target="_blank" class="me-3">
                        <img src="assets\immagini\icons\facebook.svg" alt="FacebookIcon" class="footerLogo">
                    </a>
                    <a href="" target="_blank">
                        <img src="assets\immagini\icons\instagram.svg" alt="InstagramIcon" class="footerLogo">
                    </a>
                </div>
            </address>
        </div>

        <div class="d-flex col-12 col-md-6 ps-5 ps-md-1 mt-5 mt-md-0 flex-column align-items-md-center">
            <div>
                <h5>Note Legali</h5>
                <p>Privacy Policy</p>
                <p [routerLink]="'/contatti'">Contatti</p>
            </div>
        </div>
    </div>
</div>

