.footer{
    background-color: #1A1A1A;
    color: ghostwhite;
}

.footerLogo{
    width: 2em;
}

a {
    color: ghostwhite;
    font-weight: bold;
    &:hover{
        text-decoration: underline;
        text-decoration-thickness: 0.2em;
        text-underline-offset: 0.5em;
    }
}

