.carrelloBody{
    background-color: ghostwhite;
}
.card {
    border: none;
    background-color: ghostwhite;
}
.prodottiCartItem {
    height: 15em;
    margin-bottom: 0.7em;
}
.productCartImage{
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;

}
a {
    color: #1A1A1A;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.1em;
        text-underline-offset: 0.5em;
    }
}

.radioButton {
    border: solid 2px #1A1A1A !important;
    width: 1.5em;
    height: 1.5em;
}
.radioButton:checked {
    background-color: #1A1A1A !important;
}

.quantity-controls {

    width: fit-content;

}

.myTooltip {
    position: absolute;
    border-radius: 20px;
    display: none;

}
.buttonTooltip:hover .myTooltip{
    display: block;
    text-decoration: none;
}

.buttonTooltip {
    width: fit-content;
    padding-right: 0.5em ;
    margin-top: 1em;
}

.buttonsContainer {
    width: fit-content;
}

.prodottiAssenti {
 background-color: ghostwhite;
 .toast-header {
    background-color: ghostwhite;
 }
}

.indirizzoAssente {
    background-color: ghostwhite;
    .toast-header {
       background-color: ghostwhite;
    }
   }


@media screen and (max-width: 767px) {
    .infoBody {
        width: 90%;
        margin: auto;
    }
}
