<div class="carrelloBody py-3">
    <h1 class="text-center pt-2">Il mio Carrello</h1>
    <h3 class="text-center">
        Benvenuto {{ user?.utenteTokenResponse?.nome }}
        {{ user?.utenteTokenResponse?.cognome }}
    </h3>
    <div class="row container-fluid">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body infoBody">
                    <div class="card-title text-center">
                        <h3>I miei Gioielli</h3>
                    </div>
                    <div class="card-text">
                        <div
                            *ngIf="
                                !orderItem || isEmpty(orderItem.prodotti);
                                else prodottiUtente
                            "
                            class="text-center"
                        >
                            <p>Nessun gioiello trovato nel carrello</p>
                            <p>
                                <a [routerLink]="'/prodotti'"
                                    >Vai allo shop per scoprire i nostri
                                    prodotti!</a
                                >
                            </p>
                        </div>
                        <ng-template #prodottiUtente id="prodottiUtente">
                            <div
                                *ngFor="
                                    let prodotto of prodottiArray;
                                    let i = index
                                "
                                class="prodottiCartItem"
                            >
                                <div class="card h-100">
                                    <div class="card-body productCartBody">
                                        <div
                                            class="row card-text text-decoration-underline h-100"
                                        >
                                            <div
                                                class="col-lg-3 p-0 text-center d-none d-lg-block"
                                            >
                                                <p>{{ i + 1 }}</p>
                                            </div>
                                            <div
                                                class="col-12 col-lg-9 col-xxl-7 p-0"
                                            >
                                                <div class="row h-100">
                                                    <div
                                                        class="col-7 col-md-8 productCartImage"
                                                        [ngStyle]="{
                                                            'background-image':
                                                                'url(' +
                                                                convertFormat(
                                                                    prodotto
                                                                        .prodotto
                                                                        .immagini[0]
                                                                ) +
                                                                ')'
                                                        }"
                                                    ></div>
                                                    <div
                                                        class="col-5 col-md-4 d-flex flex-column justify-content-between"
                                                    >
                                                        <div>
                                                            {{
                                                                prodotto
                                                                    .prodotto
                                                                    .nomeProdotto
                                                            }}
                                                        </div>
                                                        <div>
                                                            {{
                                                                prodotto
                                                                    .prodotto
                                                                    .price
                                                            }}€
                                                        </div>
                                                        <div class="d-flex flex-column align-items-center buttonsContainer">
                                                            <div
                                                                class="quantity-controls"
                                                            >
                                                                <button
                                                                    type="button"
                                                                    class="btn ps-0 pb-0 pe-0 pe-md-1"
                                                                    (click)="
                                                                        decreaseQuantity(
                                                                            prodotto
                                                                        )
                                                                    "
                                                                >
                                                                    -
                                                                </button>
                                                                <span
                                                                    class="quantity mx-1 mx-md-2"
                                                                    >{{
                                                                        prodotto.quantita
                                                                    }}</span
                                                                >
                                                                <button
                                                                    type="button"
                                                                    class="btn pb-0 ps-0 ps-md-1"
                                                                    (click)="
                                                                        increaseQuantity(
                                                                            prodotto
                                                                        )
                                                                    "
                                                                >
                                                                    +
                                                                </button>
                                                            </div>
                                                            <div
                                                                class="buttonTooltip"
                                                            >
                                                                <button
                                                                    type="button"
                                                                    (click)="
                                                                        removeProdotto(
                                                                            prodotto
                                                                        )
                                                                    "
                                                                >
                                                                    <img
                                                                        class="changeUser"
                                                                        src="assets/immagini/icons/x-lg.svg"
                                                                        alt="X Icon"
                                                                    />
                                                                </button>
                                                                <div
                                                                    class="myTooltip button px-2 pt-1 bg-danger-subtle"
                                                                    id="eliminaTooltip"
                                                                >
                                                                    Elimina
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body infoBody">
                    <div class="card-title text-center">
                        <h3>I miei Indirizzi</h3>
                    </div>
                    <div class="card-text">
                        <div
                            *ngIf="
                                utente?.indirizzi &&
                                    utente?.indirizzi?.length === 0;
                                else indirizziUtente
                            "
                            class="text-center"
                        >
                            <p>Nessun indirizzo trovato</p>
                        </div>
                        <ng-template #indirizziUtente id="indirizziUtente">
                            <div
                                *ngFor="
                                    let indirizzo of utente?.indirizzi;
                                    let i = index
                                "
                            >
                                <div class="card">
                                    <div class="card-body">
                                        <div
                                            class="row card-text text-decoration-underline"
                                        >
                                            <div
                                                class="col-2 col-xxl-3 p-0 text-center"
                                            >
                                                <p>{{ i + 1 }}</p>
                                            </div>
                                            <div class="col-8 col-xxl-7 p-0">
                                                <p>
                                                    Via {{ indirizzo.via }}
                                                    {{ indirizzo.civico }}
                                                </p>
                                                <p>
                                                    Località
                                                    <span
                                                        *ngIf="
                                                            indirizzo.localita !=
                                                                null;
                                                            else noLocalita
                                                        "
                                                    >
                                                        {{
                                                            indirizzo.localita
                                                        }}</span
                                                    >
                                                    <ng-template
                                                        #noLocalita
                                                        id="noLocalita"
                                                        >//</ng-template
                                                    >
                                                    Cap {{ indirizzo.cap }}
                                                </p>
                                                <p>
                                                    <span class="fw-bold">{{
                                                        indirizzo.comune
                                                            .denominazione
                                                    }}</span
                                                    >,
                                                    {{
                                                        indirizzo.comune
                                                            .siglaProvincia
                                                    }}
                                                    {{
                                                        indirizzo.comune
                                                            .nomeRegione
                                                    }}
                                                </p>
                                            </div>
                                            <div
                                                class="col-2 d-flex flex-column p-0 justify-content-around align-items-center"
                                            >
                                                <div class="form-check">
                                                    <input
                                                        class="radioButton form-check-input"
                                                        type="checkbox"
                                                        [checked]="
                                                            indirizzo.id ===
                                                            indirizzoSelezionato?.id
                                                        "
                                                        (click)="
                                                            selectCheckbox(
                                                                indirizzo
                                                            )
                                                        "
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <div
                            class="d-flex align-items-center justify-content-center"
                        >
                            <p class="mb-0 me-3">Aggiungi un indirizzo</p>
                            <button type="button" (click)="toggleModal()">
                                <img
                                    class="changeUser"
                                    src="assets/immagini/icons/plus-lg.svg"
                                    alt="PlusIcon"
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="totaleCarrello row">
            <div class="col-12 col-md-6 text-center">
                <h3> Totale: {{arrotondaTotale(totaleCarrello)}}€</h3>
            </div>
            <div class="col-12 col-md-6 text-center">
                <button type="button" class="btn button mb-3" (click)="procediOrdine()">Procedi con l'ordine</button>
                <div class="d-flex justify-content-center">
                <ngb-toast *ngIf="showProdottiAssentiToast" class="prodottiAssenti" [autohide]="false">
                    <div class="toast-header">
                        <div class="d-flex flex-column text-center"><h6 class="me-auto">Nessun Prodotto nel Carrello!</h6>
                            <h5> <a [routerLink]="'/prodotti'"
                                >Visita lo Shop!</a
                            ></h5>
                        </div>

                        <button
                            type="button"
                            class="btn-close"
                            (click)="chiudiProdottiAssentiToast()"
                        ></button>
                    </div>
                </ngb-toast>
                <ngb-toast *ngIf="showIndirizzoAssenteToast" class="indirizzoAssente" [autohide]="true">
                    <div class="toast-header">
                        <div class="d-flex flex-column text-center">
                            <h6 class="me-auto">Devi Selezionare un Indirizzo di Consegna!</h6>

                        </div>

                        <button
                            type="button"
                            class="btn-close"
                            (click)="chiudiIndirizzoAssenteToast()"
                        ></button>
                    </div>
                </ngb-toast>
            </div>
            </div>
        </div>

    </div>
</div>
<app-modalindirizzo *ngIf="isModalOpen"></app-modalindirizzo>
