.logo {
    width: 6em;
    margin: 1em;
}

.icon {
    width: 2em;
    margin: 0.5em 1em;
}

.navbar {
    background-color: #1A1A1A;
    color: ghostwhite;

    a {
        color: ghostwhite;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 0.2em;
            text-underline-offset: 1em;
        }
    }

    padding: 0;
}



.dropdown-menu {
    background-color: #1A1A1A;

    li,
    :hover {
        background-color: #1A1A1A;

        a {
            text-decoration: none;

            &:hover {
                color: gainsboro;
            }
        }
    }
}


#navbarCentralSection div {
    margin: 0em 3em;

}



.navbar .nav-item.dropdown .nav-link.dropdown-toggle::after {
    display: none;
}

.navbar-toggler .navbar-toggler-icon {
    color: ghostwhite;
}

.modal-dialog {
    position: absolute;
    top: 8em;
    right: 1em;
}

.modal-content {
    background-color: #1A1A1A;
    color: ghostwhite;

}

.addCursor {
    cursor: pointer;
}

.addUnderline:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.3em;
}

@media screen and (max-width: 991px) {
    .dropdown-menu {
        top: 1em;
        left: -2em;
        padding-top: 2em !important;
    }

    .dropdown-menu li {
        margin-bottom: 1em;
    }

    #centralSectionContainer {
        position: absolute;
        left: 0;
        top: 9em;
        background-color: #1A1A1A;
    }

    #navbarCentralSection div {
        margin: 3em 3em;

    }
}

@media screen and (max-width: 768px) {
    .modal-dialog {
        top: 9.25em;
    }
}

@media screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0em;
        padding-top: 3em;
        z-index: 1;
    }

    .dropdown>.dropdown-toggle:active {
        pointer-events: none;
    }
}




/*Codice per trasformazione menu hamburger in X, credits @ ArturCodeCraft: https://uiverse.io/ArturCodeCraft/selfish-fish-82*/
.navbarButtonContainer {
    border-radius: 16px;
    border: 1px solid #1A1A1A;
    background: #1A1A1A;
    mix-blend-mode: luminosity;
    box-shadow: 0px 0px 0px 1px #1A1A1A;
    backdrop-filter: blur(15px);
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__icon {
    width: 32px;
    height: 32px;
    padding: 4px;
}

.menu__icon span {
    display: block;
    width: 100%;
    height: 0.125rem;
    border-radius: 2px;
    background-color: ghostwhite;
    box-shadow: 0 .5px 2px 0 ghostwhite;
    transition: background-color .4s;
    position: relative;
}

.menu__icon span+span {
    margin-top: .375rem;
}

.menu__icon span:nth-child(1) {
    animation: ease .8s menu-icon-top-2 forwards;
}

.menu__icon span:nth-child(2) {
    animation: ease .8s menu-icon-scaled-2 forwards;
}

.menu__icon span:nth-child(3) {
    animation: ease .8s menu-icon-bottom-2 forwards;
}

.menu__icon.isActive span:nth-child(1) {
    animation: ease .8s menu-icon-top forwards;
}

.menu__icon.isActive span:nth-child(2) {
    animation: ease .8s menu-icon-scaled forwards;

}


.menu__icon.isActive span:nth-child(3) {
    animation: ease .8s menu-icon-bottom forwards;
}

@keyframes menu-icon-top {
    0% {
        top: 0;
        transform: rotate(0);
    }

    50% {
        top: .5rem;
        transform: rotate(0);
    }

    100% {
        top: .5rem;
        transform: rotate(45deg);
    }
}

@keyframes menu-icon-top-2 {
    0% {
        top: .5rem;
        transform: rotate(45deg);
    }

    50% {
        top: .5rem;
        transform: rotate(0);
    }

    100% {
        top: 0;
        transform: rotate(0);
    }
}

@keyframes menu-icon-bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }

    50% {
        bottom: .5rem;
        transform: rotate(0);
    }

    100% {
        bottom: .5rem;
        transform: rotate(135deg);
    }
}

@keyframes menu-icon-bottom-2 {
    0% {
        bottom: .5rem;
        transform: rotate(135deg);
    }

    50% {
        bottom: .5rem;
        transform: rotate(0);
    }

    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes menu-icon-scaled {
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes menu-icon-scaled-2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
