<nav class="navbar navbar-expand-lg navbar-light position-sticky top-0 z-2">
    <div class="container-fluid">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <div class="navbarButtonContainer d-lg-none">
                <button
                    class="menu__icon navbar-toggler border-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCentralSection"
                    aria-controls="navbarCentralSection"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    (click)="toggleHamburgerMenu()"
                    [class.isActive]="isOpen"
                >
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="m-auto m-lg-0">
                <a [routerLink]="'/'">
                    <img
                        src="assets\immagini\logo\Logo_PEPE_Factory_Bianco_transpa.png"
                        alt="Pepe Factory Logo"
                        class="logo"
                    />
                </a>
            </div>

            <div
                class="d-flex justify-content-center"
                id="centralSectionContainer"
            >
                <div class="collapse navbar-collapse" id="navbarCentralSection">
                    <div>
                        <a
                            [routerLink]="'/'"
                            class="nav-item"
                            (click)="toggleHamburgerMenu()"
                            routerLinkActive="activeNavbarLink"
                            [routerLinkActiveOptions]="{ exact: true }"
                            >Home</a
                        >
                    </div>
                    <div
                        class="nav-item dropdown"
                        routerLinkActive="activeNavbarLink"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        <a
                            class="nav-link dropdown-toggle position-relative z-2"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            data-bs-auto-close="true"
                        >
                            Shop
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a
                                    class="dropdown-item"
                                    [routerLink]="'/prodotti'"
                                    (click)="toggleHamburgerMenu()"
                                    >Tutti i prodotti</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    [routerLink]="[
                                        '/prodotti',
                                        { categoria: 'COLLANE' }
                                    ]"
                                    (click)="toggleHamburgerMenu()"
                                    >Collane</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    [routerLink]="[
                                        '/prodotti',
                                        { categoria: 'PENDENTI' }
                                    ]"
                                    (click)="toggleHamburgerMenu()"
                                    >Pendenti</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    [routerLink]="[
                                        '/prodotti',
                                        { categoria: 'ANELLI' }
                                    ]"
                                    (click)="toggleHamburgerMenu()"
                                    >Anelli</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    [routerLink]="[
                                        '/prodotti',
                                        { categoria: 'ORECCHINI' }
                                    ]"
                                    (click)="toggleHamburgerMenu()"
                                    >Orecchini</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    [routerLink]="[
                                        '/prodotti',
                                        { categoria: 'BRACCIALI' }
                                    ]"
                                    (click)="toggleHamburgerMenu()"
                                    >Bracciali</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    [routerLink]="[
                                        '/prodotti',
                                        { categoria: 'MATERIALE_CLIENTE' }
                                    ]"
                                    >Materiale del Cliente</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a
                            [routerLink]="['/contatti']"
                            class="nav-item"
                            (click)="toggleHamburgerMenu()"
                            routerLinkActive="activeNavbarLink"
                            [routerLinkActiveOptions]="{ exact: true }"
                            >Contatti</a
                        >
                    </div>
                    <div>
                        <a
                            [routerLink]="'/history'"
                            class="nav-item"
                            (click)="toggleHamburgerMenu()"
                            routerLinkActive="activeNavbarLink"
                            [routerLinkActiveOptions]="{ exact: true }"
                            >Pepe History</a
                        >
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row">
                <img
                    src="assets/immagini/icons/person-circle.svg"
                    alt="UserLogo"
                    class="icon addCursor"
                    data-bs-toggle="modal"
                    data-bs-target="#navbarModal"
                    (click)="rechargeUser()"
                />
                <img
                    src="assets/immagini/icons/cart.svg"
                    alt="CartLogo"
                    class="icon addCursor"
                    *ngIf="user"
                    [routerLink]="'/carrello'"
                />
            </div>
        </div>
    </div>
</nav>

<div *ngIf="!user; else userModal">
    <div
        class="modal fade"
        id="navbarModal"
        tabindex="-1"
        aria-labelledby="navbarModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 pt-1" id="navbarModalLabel">
                        Area Personale
                    </h1>
                    <button
                        type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <h2
                        class="fs-5 addCursor addUnderline"
                        [routerLink]="['/login']"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    >
                        Accedi
                    </h2>
                    <hr />
                    <h2
                        class="fs-5 addCursor addUnderline"
                        [routerLink]="['/register']"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    >
                        Registrati
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #userModal id="userModal">
    <div
        class="modal fade"
        id="navbarModal"
        tabindex="-1"
        aria-labelledby="navbarModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 pt-1" id="navbarModalLabel">
                        Benvenuta/o {{ user!.utenteTokenResponse!.nome }}
                        {{ user!.utenteTokenResponse.cognome }}
                    </h1>
                    <button
                        type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <h2
                        class="fs-5 addCursor addUnderline"
                        [routerLink]="['/userpage']"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    >
                        Il mio Account
                    </h2>
                    <hr />
                    <h2
                        class="fs-5 addCursor addUnderline"
                        [routerLink]="'/carrello'"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    >
                        Carrello
                    </h2>
                    <hr />
                    <h2
                        class="fs-5 addCursor addUnderline text-danger"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        (click)="logout()"
                    >
                        Logout
                    </h2>
                </div>
            </div>
        </div>
    </div>
</ng-template>
