<div class="historyBody py-3">
    <h1 class="text-center py-2">Pepe Jewels</h1>
    <div class="container pb-4">
        <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-center">
                <h3>Chi è Pepe?</h3>
            </div>
            <div class="col-12 col-md-6">
                <div class="card-body">
                    <img class="w-100" src="assets/immagini/repertorio/WhatsApp Image 2023-09-21 at 17.25.32.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
