.loginBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46.8%;
    background-color: ghostwhite;
}
.card {
    border: none;
    background-color: ghostwhite;
}

