.loginBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 46.8%;
    background-color: ghostwhite;
}
.card {
    border: none;
    background-color: ghostwhite;
}


.anchorColor{
    color: #7c83bc;
    cursor: pointer;
}


@media screen and (min-height: 1000px) {
    .loginBody {
        min-height: 55%;
    }
}
@media screen and (min-height: 1300px) {
    .loginBody {
        min-height: 65%;
    }
}

