.loginBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 46.8%;
    background-color: ghostwhite;
}
.card {
    border: none;
    background-color: ghostwhite;
}


.anchorColor{
    color: #7c83bc;
    cursor: pointer;
}

.registrazioneToast {
    position: absolute;
    z-index: 3;
    width: 80%;
    margin-top: 150px;
    margin-right: 2em;
    background-color: #ccccff;
    .toast-header {
        background-color: #ccccff;
        h6 {
            color: #1A1A1A;
        }
    }
}

@media screen and (min-width: 576px) {
    .registrazioneToast{
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .registrazioneToast{
        width: 30%;
    }
}

@media screen and (min-width: 1300px) {
    .registrazioneToast{
        width: 20%;
    }
}

@media screen and (min-height: 1000px) {
    .loginBody {
        min-height: 55%;
    }
}
@media screen and (min-height: 1300px) {
    .loginBody {
        min-height: 65%;
    }
}

