<div class="registerBody">
    <div class="card mx-5">
        <div class="card-body">
            <div class="card-title text-center">
                <h2>Registrati</h2>
            </div>
            <form class="card-text" #form="ngForm" (submit)="register(form)">

                <input
                    type="text"
                    name="nome"
                    id="nome"
                    class="form-control"
                    placeholder="Nome"
                    required
                    ngModel
                />

                <input
                    type="text"
                    name="cognome"
                    id="cognome"
                    class="form-control"
                    placeholder="Cognome"
                    required
                    ngModel
                />
                <label for="dataNascita">Data di Nascita</label>
                <input
                    type="date"
                    name="dataNascita"
                    id="dataNascita"
                    class="form-control"
                    required
                    ngModel
                />
                <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                    placeholder="Email"
                    required
                    ngModel
                />
                <input
                    type="password"
                    name="password"
                    id="password"
                    #password="ngModel"
                    class="form-control"
                    minlength="5"
                    maxlength="12"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W).+$"
                    placeholder="Password"
                    required
                    ngModel
                />
                <div
                    class="passwordInstruction"
                    *ngIf="
                        password.invalid && (password.dirty || password.touched)
                    "
                >
                    La password deve contenere almeno una lettera minuscola, una
                    lettera maiuscola, un numero e un carattere speciale.
                </div>
                <div
                    class="d-flex flex-column flex-lg-row justify-content-between align-items-lg-center"
                >
                    <button
                        type="submit"
                        class="btn button mt-2 me-2"
                        [disabled]="form.invalid"
                    >
                        Signup
                    </button>
                    <a
                        class="d-flex justify-content-center mt-2 mt-lg-0 text-decoration-underline anchorColor"
                        (click)="redirectToLogin()"
                        >Hai già un account? Accedi</a
                    >
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="error">
        <div
            class="alert alert-danger d-flex justify-content-between align-items-center"
            role="alert"
            *ngIf="showAlert"
        >
            <span class="me-2 pt-1"> {{ error }} </span>
            <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="chiudiAlert()"
            ></button>
        </div>
    </div>
</div>


