.registerBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 47%;
    background-color: ghostwhite;
}

.card {
    border: none;
    background-color: ghostwhite;
}
@media screen and (min-width: 768px) {
    .card {
        width: 50%;
    }
}

anchorColor{
    color: #7c83bc;
    cursor: pointer;
}

